.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #eef2f3;
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box button {
  margin: 0.5rem;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-container {
  width: 90%;
  max-width: 500px;
  height: 80vh;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.chat-header {
  padding: 1rem;
  background: #007bff;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

 /* Individual message styles (this is use in messageList.jsx file ) */

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 8px;
  word-wrap: break-word;
}


.message-font-color {
  color: #610266;
  font-weight:bold;
}

.sent {
  align-self: flex-end;
  background: #d5b1e9;
}

.received {
  align-self: flex-start;
  background: #d5b1e9;
  border:1px solid #eee 
}

/* .meta { font-size:0.75rem; color:#666; margin-top:6px; display:flex; gap:8px; align-items:center; } */
/* .sent { align-self:flex-end; background:#d5b1e9 }
.received { align-self:flex-start; background:#d5b1e9; border:1px solid #eee } */

/* ----end here--- */


.sender {
  display: block;
  font-size: 0.75rem;
  margin-top: 3px;
  color: #555;
}


/* dont no where this is use  */
.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input button {
  margin-left: 10px;
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* .message-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.message.sent {
  background-color: #d5b1e9;
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
}

.message.received {
  background-color: #fff;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
} */

/* .message {
  padding: 8px 12px;
  margin: 6px 0;
  max-width: 70%;
  word-wrap: break-word;
} */
